<footer class="footer bg-purple-300 p-4 text-center">
    <p class="text-white">Thank you for visiting our site!</p>
    <p class="text-white">Follow us on social media for updates.</p>
    <p>Copyright &copy; 2025 DoMore Mongolia</p>
</footer>