<footer class="footer bg-blue-600 p-14 text-center text-white">
    <p class="text-4xl font-mono">Thank you for visiting our site!</p>
    <hr class="my-6 border-gray-300" />
    <p class="animate-pulse text-2xl">Follow us on social media for updates <span class="text-green-500 text-5xl">.</span></p>
    <p class="mt-8">Copyright &copy; 2025 DoMore Mongolia</p>
</footer>