<header class="header bg-purple-300 p-4">
    <h1 class="text-white text-2xl font-bold">DoMore Mongolia <span class="text-green-800">.</span></h1>
    <nav class="mt-2">
        <ul class="flex space-x-4 text-white">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>